@import "./variables";
@import "./mixins";

a.button {
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.button {
  background-color: $white;
  color: $primary-color;

  @include button-hover;
}

.button--sc {
  letter-spacing: normal;
  text-transform: none;
}

@each $name, $color in $color-palette {
  .button.#{$name} {
    border-color: $primary-color;

    @include button-hover;
  }

  .button.hollow.#{$name} {
    border-color: $primary-color;
    color: $primary-color;

    @include button-hover;
  }
}
