@import "./variables";

.button {
  background-color: $white;
  color: $primary-color;

  &:hover,
  &:focus {
    background: $desfake-gradient;
    color: $white;
    transition: background ease-in-out 200ms;
  }
}

.button--sc {
  letter-spacing: normal;
  text-transform: none;
}

@each $name, $color in $color-palette {
  .button.#{$name} {
    border-color: $color;

    &.hover,
    &:hover {
      background: $color;
      color: $white;
    }
  }

  .button.hollow.#{$name} {
    &.hover,
    &:hover {
      background: $white;
      color: $color;
    }
  }
}
