@import "./variables";

$saturation: 60%;
$lightness: 90%;

@each $name, $color in $color-palette {
  .callout.#{$name} {
    border-left: $color;

    background-color: hsl(hue($color), $saturation, $lightness);
  }
}
