@import "./variables";

.card {
  border-color: $color-desfake-orange !important;
}

.card__header .card__title {
  font-weight: $global-weight-bold;
}

.card__top {
  border-radius: $card-border-radius $card-border-radius 0 0;
}

.card__top, .card__footer {
  background-color: $card-background;
}

.card-data__item {
  strong {
    color: $color-desfake-orange;
  }
}

#itineraries-processes-grid {
  .card {
    .card__icondata,
    .card__status {
      display: none;
    }
    .card__footer--spaces {
      .card__support {
        .card__button {
          margin: 0 auto;
        }
      }
    }
  }
}
