@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Flex";
  src: url("fonts/RobotoFlex-VariableFont.otf") format("opentype"),
    url("fonts/RobotoFlex-VariableFont.ttf") format("truetype"),
    url("fonts/RobotoFlex-VariableFont.woff") format("woff");
  font-style: italic;
  font-weight: 900;
  font-display: swap;
}
