@import "./variables";

.footer {
  display: flex;
}

.main-footer {
  width: 75%;
  background: $secondary-color;
}

.mini-footer {
  width: 25%;
  background: $primary-color;

  .logos {
    display: flex;
    align-items: end;
    padding: 1rem;
  }

  .row .column:first-child {
    padding: 1rem;
  }
}

.main-footer,
.mini-footer {
  color: $white;
  a {
    color: $white;
    &:hover,
    &:focus {
      color: $white;
      text-decoration: underline;
    }
  }
}

.decidim-logo:not(.platoniq-logo) {
  margin-bottom: 8px;
}
