@import "./variables";

.footer {
  display: flex;
}

.mini-footer,
.main-footer {
  background: $primary-color;
}

.main-footer {
  width: 75%;
}

.mini-footer {
  width: 25%;

  .logos {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    padding: 1rem;
  }

  .row .column:first-child {
    padding: 1rem;
  }
}

.main-footer,
.mini-footer {
  color: $white;
  a {
    color: $white;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $white;
      text-decoration: underline;
    }
  }
}

.decidim-logo:not(.platoniq-logo) {
  margin-bottom: 8px;
}

.platoniq-logo {
  margin-left: 0;

  a {
    text-decoration: none;
  }
}

.main__footer__nav {
  text-align: left;

  .footer-nav li {
    padding: 0;
    margin-right: 1em;
  }
}
