@import "./variables";
@import "./mixins";

.home-section:nth-of-type(2n + 1) {
  background: $desfake-gradient;

  .section-heading,
  .statistics-cell .statistic__title {
    color: $white;
  }

  .button.hollow {
    background: $white;
    color: $primary-color;

    @include button-hover;
  }

  .home-bullet__icon svg {
    fill: $white;
  }
}

.home-section:nth-of-type(2n) {
  .statistics-cell .statistic__title {
    color: $primary-color;
  }

  .button.hollow {
    border: none;
    background: $medium-gray;
    color: $body-font-color;
  }
}

.home-section .section-heading {
  &::before {
    content: none;
  }
}
