// Mixins

@mixin button-hover {
  &:hover,
  &:focus {
    background: $primary-color-darker;
    border-color: $primary-color-darker;
    color: $body-font-color !important;
    transition: background color ease-in-out 200ms;
  }
}
