@import "./variables";

.title-bar {
  background-color: $white;
}

.navbar {
  background-color: $white;

  border-top: 2px solid $primary-color;

  .main-nav__link a {
    color: $primary-color;
    text-transform: uppercase;
    padding-bottom: 8px;
  }

  .main-nav__link--active a {
    box-shadow: none;
    background: $background-gradient;
    color: $body-font-color;
    font-weight: 700;
  }
}

.topbar {
  color: $primary-color;

  .logo-wrapper {
    img {
      max-height: 60px;

      @include breakpoint(mediumlarge) {
        max-height: 60px;
      }
    }
  }
}

.topbar_ {
  &_search {
    position: relative;
    max-width: inherit;

    input {
      background: $white;
      box-shadow: none;
      margin-top: 8px;
      display: inline-block;
      border: none;
      transition: none;
      height: 2.5rem; //matches input group button height

      &:focus {
        box-shadow: none;
        outline-color: var(--highlight-alternative);
      }
    }

    .input-group-button {
      position: relative;
      height: 1px; // Fix for Safari and Firefox
      vertical-align: top;
    }

    // Fix for Safari and Firefox
    .button-wrapper {
      .button {
        border: none;
        height: 2.5rem;
        background: $white;
        transition: none;
        box-shadow: none;

        &:hover {
          top: 0;
          left: 0;
        }

        svg.icon {
          fill: $primary-color;
        }
      }
    }

    form:first-child {
      display: inline-flex;
    }

    .input-group {
      margin-bottom: 0;
      border: $input-border;
      border-radius: 3px;
    }

    &:not(:focus-within) {
      button {
        color: rgba(white, 0.5);
      }
    }
  }

  &_dropmenu {
    .is-dropdown-submenu li a,
    & > ul > li > a {
      color: $body-font-color;

      &::after {
        border-top-color: $body-font-color !important;
      }
    }
  }

  &_admin_,
  &_edit_ {
    &_link {
      a {
        color: $body-font-color;

        &:hover {
          color: $body-font-color;
        }
      }

      .icon {
        fill: $body-font-color;
        opacity: 1;
      }
    }
  }

  &_notifications,
  &_conversations {
    .icon {
      fill: $body-font-color;
      opacity: 1;
    }
  }

  &_user__logged {
    display: block;
  }

  &_user__login {
    .sign-up-link {
      @extend .button;
      display: inline;
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      background-color: $primary-color;
      color: $white;
      margin: $button-margin;
      padding: $button-padding;
      border: $button-border;
      border-radius: $button-radius;
      transition: none;
      line-height: 1;
      text-align: center;
      letter-spacing: 0.05em;
      font-weight: 600;
      text-transform: uppercase;
      position: relative;

      &:hover {
        text-decoration: none;
      }
    }

    .sign-in-link {
      color: $primary-color;
      text-transform: uppercase;
    }
  }
}
