@import "./variables";

.process-nav {
  box-shadow: none;
  border-bottom: 1px solid $primary-color;

  ul {
    gap: 1rem;
  }
}

.process-nav__link {
  text-transform: none;
  color: $white;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  @include button-hover;

  &.active {
    color: $primary-color;
  }
}

.process-nav__content {
  align-items: end;
  margin-top: 1rem;
  margin-bottom: -1px;

  li {
    padding: 0.5rem 0.75rem 0.875rem;
    background-color: $primary-color;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0.5rem 2rem;

    &.is-active {
      background-color: $white;
      border: 1px solid $primary-color;
      border-bottom: none;
      box-shadow: none;
    }

    &:hover,
    &:focus {
      background: $desfake-gradient;
      color: $white;
      transition: background color ease-in-out 200ms;
    }
  }
}

.process-header__inner {
  min-height: 20rem;
}

.process-header__main {
  clip-path: none;

  &::after {
    content: none;
  }
}
