@function extract-rgb($color) {
  @return red($color), green($color), blue($color);
}

$color-verificat-blue: #0d43e6;
$color-verificat-white: #f7f7f5;

$color-desfake-yellow: #ffa800;
$color-desfake-orange: #ff780d;
$color-desfake-orange-darker: #ff6b00;

$desfake-gradient: linear-gradient(230.05deg, $color-desfake-orange 23.96%, $color-desfake-yellow 80.75%);

$primary-color: $color-desfake-orange;
$primary-color-darker: $color-desfake-orange;
$secondary-color: $primary-color;
$success-color: #00be54;
$warning-color: $black;
$alert-color: #ff0057;
$primary-color-rgb: extract-rgb($primary-color);
$secondary-color-rgb: extract-rgb($secondary-color);
$success-color-rgb: extract-rgb($success-color);
$warning-color-rgb: extract-rgb($warning-color);
$alert-color-rgb: extract-rgb($alert-color);

:root {
  --primary: #{$primary-color};
  --primary-rgb: #{$primary-color-rgb};
  --secondary: #{$secondary-color};
  --secondary-rgb: #{$secondary-color-rgb};
  --success: #{$success-color};
  --success-rgb: #{$success-color-rgb};
  --warning: #{$warning-color};
  --warning-rgb: #{$warning-color-rgb};
  --alert: #{$alert-color};
  --alert-rgb: #{$alert-color-rgb};
}

// This is a file that can be overridden by the application in order to override
// some of the Foundation/Decidim SCSS settings and variables after the default
// settings have been loaded.
//
// To override styles use decidim_application.scss
//
// By default this is empty.

$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 135%;
$color-palette: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  warning: $warning-color,
  alert: $alert-color,
);
$foundation-palette: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  warning: $warning-color,
  alert: $alert-color,
  white: $white,
  dislike: #cb38ff,
  cat1: #ff9900,
  cat2: #5bd8ff,
  cat3: #69ea04,
  cat4: #8800bd,
  cat5: #ff00e5,
  cat6: #cf93ff,
  cat7: #4978f1,
  cat8: #0343a3,
  cat9: #cc4343,
  cat10: #0b8282,
  cat11: #ff3300,
  cat12: #0adba9,
);
$light-gray: #d7d7d7;
$medium-gray: #e6e6e6;
$dark-gray: #959595;
$white: #ffffff;
$black: #2b2b2b;
$body-background: $white;
$body-font-color: $black;
$body-font-family: "Roboto Flex", sans-serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-weight-normal: 300;
$global-weight-bold: 700;
$global-radius: 20px;
$global-menu-padding: 0.7rem 1rem;
$global-menu-nested-margin: 1rem;
$global-text-direction: ltr;
$global-flexbox: true;
$global-prototype-breakpoints: false;
$global-button-cursor: auto;
$global-color-pick-contrast-tolerance: 0;
$print-transparent-backgrounds: true;
$print-hrefs: true;

$header-font-family: $body-font-family;
$header-font-weight: $global-weight-bold;
$header-font-style: normal;
$header-color: inherit;
$header-lineheight: 1.1;
$header-margin-bottom: 0.5rem;
$header-styles: (
  small: (
    "h1": (
      "font-size": 3.75rem,
      "line-height": $header-lineheight,
      "font-weight": 900,
    ),
    "h2": (
      "font-size": 1.5625rem,
      "line-height": $header-lineheight,
      "font-weight": 300,
    ),
    "h3": (
      "font-size": 2rem,
      "line-height": $header-lineheight,
      "font-weight": 800,
    ),
    "h4": (
      "font-size": 1.25rem,
      "line-height": $header-lineheight,
      "font-weight": 500,
    ),
    "h5": (
      "font-size": 1.25rem,
      "line-height": 135%,
      "font-weight": 300,
    ),
    "h6": (
      "font-size": 1rem,
      "line-height": 135%,
      "font-weight": 700,
    ),
  ),
  medium: (
    "h1": (
      "font-size": 3.75rem,
      "line-height": $header-lineheight,
      "font-weight": 900,
    ),
    "h2": (
      "font-size": 1.5625rem,
      "line-height": $header-lineheight,
      "font-weight": 300,
    ),
    "h3": (
      "font-size": 2rem,
      "line-height": $header-lineheight,
      "font-weight": 800,
    ),
    "h4": (
      "font-size": 1.25rem,
      "line-height": $header-lineheight,
      "font-weight": 500,
    ),
    "h5": (
      "font-size": 1.25rem,
      "line-height": 135%,
      "font-weight": 300,
    ),
    "h6": (
      "font-size": 1rem,
      "line-height": 135%,
      "font-weight": 700,
    ),
  ),
);

$anchor-color: $primary-color;
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;

// 11. Button
// ----------

$button-font-family: inherit;
$button-font-weight: $global-weight-normal;
$button-padding: 0.85em 1em;
$button-margin: 0 0 $global-margin 0;
$button-fill: solid;
$button-color: $primary-color;
$button-color-alt: $white;
$button-background: $white;
$button-background-hover: $desfake-gradient;
$button-shadow-depth: 6px;
$button-radius: 5px;
$button-border: 1px solid $primary-color;
$button-hollow-border-width: 1px;
$button-sizes: (
  tiny: 0.6rem,
  small: 0.75rem,
  default: 0.9rem,
  large: 1.25rem,
);
$button-palette: $foundation-palette;
$button-opacity-disabled: 0.5;
$button-background-hover-lightness: 0%;
$button-hollow-hover-lightness: 0%;
$button-transition: none;
$button-responsive-expanded: false;

// 14. Card
// --------

$card-background: $white;
$card-font-color: $body-font-color;
$card-divider-background: $primary-color;
$card-border: 1px solid $light-gray;
$card-shadow: none;
$card-border-radius: $global-radius;
$card-padding: $global-padding;
$card-margin-bottom: $global-margin;

// // 20. Forms
// // ---------

// $fieldset-border: 1px solid $primary-color;
// $fieldset-padding: rem-calc(20);
// $fieldset-margin: rem-calc(18 0);
// $legend-padding: rem-calc(0 3);
// $form-spacing: rem-calc(16);
// $helptext-color: $black;
// $helptext-font-size: rem-calc(13);
// $helptext-font-style: italic;
// $input-prefix-color: $black;
// $input-prefix-background: $light-gray;
// $input-prefix-border: 1px solid $primary-color;
// $input-prefix-padding: 1rem;
// $form-label-color: $black;
// $form-label-font-size: rem-calc(14);
// $form-label-font-weight: $global-weight-normal;
// $form-label-line-height: 1.8;
// $select-background: $white;
// $select-triangle-color: $primary-color-darker;
// $select-radius: $global-radius;
// $input-color: $black;
$input-placeholder-color: $primary-color;
// $input-font-family: inherit;
// $input-font-size: rem-calc(16);
// $input-font-weight: $global-weight-normal;
// $input-line-height: $global-lineheight;
// $input-background: $white;
// $input-background-focus: $white;
// $input-background-disabled: $light-gray;
// $input-border: 2px solid $primary-color;
// $input-border-focus: 3px solid $primary-color;
// $input-padding: $form-spacing / 2;
// $input-shadow: inset 0 1px 2px rgba($black, 0.1);
// $input-shadow-focus: 0 0 5px $primary-color;
// $input-cursor-disabled: not-allowed;
// $input-transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
// $input-number-spinners: true;
// $input-radius: $global-radius;
// $form-button-radius: $global-radius;

// 51. Tabs
// --------

$tab-margin: 0;
$tab-background: $white;
$tab-background-active: $white;
$tab-item-font-size: rem-calc(16);
$tab-color: $primary-color;
$tab-active-color: inherit;
$tab-item-background-hover: $white;
$tab-item-padding: 1.25rem 1.5rem;
$tab-expand-max: 6;
$tab-content-background: $white;
$tab-content-border: transparent;
$tab-content-color: inherit;
$tab-content-padding: 0;
